@model QuanLyQuanNuoc.Models.Food

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Food</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FoodName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FoodName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FoodCategory.CategoryFoodName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FoodCategory.CategoryFoodName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdFood }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
