@model QuanLyQuanNuoc.Models.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCheckIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCheckIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCheckOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCheckOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idTable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
